<!--
  Generated template for the TempleTripForm component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<form [formGroup]="templeTripGroup" (ngSubmit)="submitTrip()">
  <ion-item>
    <ion-label floating ng2-translate>templeTrip.label_arrivalDate</ion-label>
    <ion-input type="date" formControlName="arrivalDate" (focus)="pickDate('arrivalDate')"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating ng2-translate>templeTrip.label_leaveDate</ion-label>
    <ion-input type="date" formControlName="leaveDate"></ion-input>
  </ion-item>
  <ion-list>
    <ion-card *ngFor="let patron of patrons">
      <ion-item>
        <ion-avatar item-left round>
          <img [src]="patron.picture"/>
        </ion-avatar>
        <ion-card-title no-padding>{{patron.name}}</ion-card-title>
        <p>{{patron.patronKindForHostel}}</p>
      </ion-item>
    </ion-card>
  </ion-list>
</form>
